doctype html
html
  head
    title= status + ' - Git'

    link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono', rel='stylesheet')
    link(href='main.css', rel='stylesheet')
    link(href='icons/' + status.toLowerCase() + '.png', rel='shortcut icon', id='dynamic-favicon')
    script(src='socket.io/socket.io.js')
    script(src='main.js')

  body(data-current=current.id)
    ul.list
      each build in builds
        - var status = 'status-' + build.status.toLowerCase();
        li.build(id=build.id, class=status)
          span.slug= build.data.slug
          span.branch= build.data.branch
          span.commit= build.data.commit

    .info
      - var image = current.data.image ? 'url('+current.data.image+')' : '';
      .header(style={'background-image': image})
        span.timestamp= current.timestamp
        span.commit= current.data.commit
        span.url= current.data.url
        button.rebuild Rebuild
      pre.log!= current.log
