doctype html
html
  head
    title= (current.status || 'Ready') + ' - Git'

    link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono', rel='stylesheet')
    link(href='main.css', rel='stylesheet')
    script(src='socket.io/socket.io.js')
    script(src='main.js')

  body(data-current=current.id)
    ul.list
      each build in builds
        li.build(id=build.id)
          span.slug= build.data.slug
          span.branch= build.data.branch
          span.commit= build.data.commit

    pre.log!= current.log
